# This file documents variables written by 01_deploy_infra.ipynb.
# The actual env/.env is generated automatically and must not be committed.

AZURE_RESOURCE_GROUP=
AZURE_AI_ENDPOINT=
AZURE_AUTH_MODE=aad
AZURE_SPEECH_VOICE=en-US-AvaMultilingualNeural

AZURE_FUNCTION_APP_NAME=
AZURE_FUNCTION_URL=
AZURE_APP_INSIGHTS_NAME=
AZURE_FUNCTION_KEY=
